h1, h2, h3, h4, h5, h6 {
font-weight: bold;
color: #2dbe60;
}

h1 {
font-weight: 400;
font-size: 1em;
line-height: 120%;
border-bottom: 0px solid #ddd;
text-transform: uppercase;
letter-spacing: 2px;
}

h2 {
line-height: 120%;
border-bottom: 0px solid #eee;
font-weight: normal;
font-size: 100%;
}

h3 {
font-size: 1.1em;
line-height: 120%;
border-bottom: 0px solid #eee;
font-weight: normal;
}

h4 {
font-size: 1.1em;
line-height: 120%;
font-style: italic;
font-weight: normal;
}

h5 {
font-size: 1.1em;
line-height: 120%;
color: #3B3131;
font-style: italic;
}

h6 {
font-size: 1.1em;
line-height: 120%;
color: #3B3131;
font-style: italic;
}

.footnote {
        float: footnote;
        background-color: #ffc0c0; /* a reddish background */
        footnote-style-position: inside; /* forces marker inside footnote area */
      }
      .footnote::footnote-call {
        /* controls the footnote markers in the main page text */
        content: counter(footnote);
        vertical-align: baseline;
        font-size: 70%;
        line-height: inherit;
        font-variant-position: super;
      }
      .footnote::footnote-marker {
        /* controls the footnote markers in the footnote section */
        content: counter(footnote);
      }