h1 {
font-weight: normal;
font-size: 1em;
line-height: 120%;
border-bottom: 0px solid #ddd;
text-transform: uppercase;
letter-spacing: 2px;
color: #2dbe60;
}

h2 {
line-height: 120%;
border-bottom: 0px solid #eee;
font-weight: normal;
font-size: 100%%;
color: #2dbe60;
}

h3 {
font-size: 1.1em;
line-height: 120%;
border-bottom: 0px solid #eee;
font-weight: normal;
color: #2dbe60;
}

h4 {
font-size: 1.1em;
line-height: 120%;
font-style: italic;
font-weight: normal;
color: #2dbe60;
}

h5 {
font-size: 1.1em;
line-height: 120%;
color: #3B3131;
font-style: italic;
color: #2dbe60;
}

h6 {
font-size: 1.1em;
line-height: 120%;
color: #3B3131;
font-style: italic;
color: #2dbe60;
}